/* Reset Basic*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --color-buttom-operation: #ff9500;
    --color-base: #1c1c1c;
    --color-secundary : #413e3e;
    --color-tertuary : #e7e3e3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 0 10px;
    background-color: var(--color-base);
    border-radius: 10px;
    box-shadow: 1px 11px 17px 0px rgb(0 0 0 / 50%);
}
 
    .display {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        height: 120px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
        input {
            border: 0;
            text-align: end;
            background-color: transparent;
            padding-right: 1em;
            font-size: 1.2em;
        }
        input:nth-child(2){
            font-size: 2em;
            padding-right: .5em;
        }

    .keyboard {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
        .row {
            display: flex;
            justify-content: space-around;
            font-size: 1.5em;
            width: 100%;
            text-transform: uppercase;
        }
        .row_line > .number:nth-child(-n + 3) {
            background: var(--color-tertuary);
            color: var(--color-secundary);
        }
            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid transparent;
                color: var(--color-tertuary);
                background: var(--color-secundary);
            }
            
            .simbol_math {
                background: var(--color-buttom-operation);
            }

            .number.zero {
                width: 106px;
                border-radius: 30px;
                justify-content: flex-start;
                padding-left: 1.1em;
            }

         